
<div class="container-fluid">
<div class="top">
  <div class><%= image_tag 'top5.jpg'%></div>
  <div class><%= image_tag 'top6.jpg'%></div>
  <div class><%= image_tag 'top7.jpg'%></div>
  <div class><%= image_tag 'top8.jpg'%></div>
</div>

  <h1>このサイトの説明</h1>
  <br>

<p>このサイトはDIVE INTO CODEの受講生や卒業生専用サイトです</p>
<p>承認された人しか利用できないようになっています</p>
<p>就職に関する情報や、企業情報などを共有しましょう</p>
</div>
