

<% @users.each do |user| %>
<table>
<tr>
      <th>ユーザー名</th>
  <th><%= user.name %></th>
</tr>
<tr>
      <th>認証状態</th>
<% if  user.approval == true %>
     <th>ture</th>
<%  else %>
     <th>false</th>
<% end %>
</tr>
<tr>
  <th>認証</th>
  <th><button><%= link_to 'チェック',  controller: "users", action: "check", user_id: user.id %></button></th>
</tr>
</table>
<% end %>
<%= paginate @blogs %>
