// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  // position: fixed;
  width: 100%;
  background-color: #000;
  height: 100px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  // position: fixed;
  width: 100%;
  background-color:#000;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  // text-align: center;
  background-color: #DDFFFF;

}




.top {
  // 枠線をつける
  // border: solid 10px #fff;
  margin: 0 auto;
  // background-size: 70% 70%;
  background: image-url('top.jpg') no-repeat center center;
  background-size:cover;
  max-width: 95%;
  width: 100%;
  height: 800px;

}
.top img{
  width: 100%;
  height: 800px;
  border: solid 0px #fff;

}
.flash{
    color: #fff;
}
.userpf{
    // vertical-align: middle;
    width: 200px;
    height: 200px;
    object-fit: cover;


}
table.box {
  // max-width:300px;
  // max-height: 300px;
}

.content {
  margin-bottom: 50px;

}

.otameshi{
  margin: 30px;
  padding: 30px;
}


tr {
  // text-align: center;
}

.test {
  color: white;
  // padding-left: 100px;
}

th {
  text-align: center;

}
// td {
//   width: 100%;
//   text-align: center;
//
// }
div.col-md-3.col-xs-12{
  text-align: center;
  margin-top: 40px;
}
table{
  margin: 0 auto;


}
div.col-md-12.col-xs-12{
  text-align: center;
}
input#feed_image {
    margin: 0 auto;
    background-color: #808080;
}
// h2{
//   color: white;
// }
// label{
//   color: white;
// }




.container-fluid{
  text-align: center;
}






// html {
//   position: relative;
//   min-height: 100%;
// }
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.header{
  background-color: #BBFFFF;
}

.footer{
  background-color: #BBFFFF;
}

@media (min-width: 1226px) {
  .text_area textarea {
      width: 800px;
      height: 50px;
  }
}

@media (max-width: 1225px) {
  .text_area textarea {
      width: 800px;
      height: 50px;
  }
}

@media (max-width: 420px) {
  .text_area textarea {
      width: 250px;
      height: 100px;
  }
}

@media (min-width: 1226px) {
  .company {
      width: 400px;
      height: 50px;
  }
}

@media (max-width: 1225px) {
  .company {
      width: 400px;
      height: 50px;
  }
}
  @media (max-width: 420px) {
    .company {
        width: 250px;
        height: 50px;
    }
  }

  @media (min-width: 1226px) {
    .url {
        width: 800px;
        height: 50px;
    }
  }

  @media (max-width: 1225px) {
    .url {
        width: 800px;
        height: 50px;
    }
  }

  @media (max-width: 420px) {
    .url {
        width: 250px;
        height: 100px;
    }
  }
