// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icon{
  max-width: 20%;
   margin: 0 auto;
}

.width{
  max-width: 70rem;
  margin: 0 auto;
}

p{
  padding-left: 10px;
  padding-top: 10px;
}

.box13 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
// .box13 p {
//     margin: 0;
//     padding: 0;
// }
