// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icon{
  max-width: 20%;
   margin: 0 auto;
}

.width{
  max-width: 70rem;
  margin: 0 auto;
}

p{
  padding-left: 10px;
  padding-top: 10px;
}

.box13{
    width: 100%;
    float: left;
    padding: 0.2em 0.5em;
    margin: 1em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}
// .box13 p {
//     margin: 0;
//     padding: 0;
// }
.companyname{
  text-align: left;
  width: 30%;
}
.detail{
  text-align: left;
  width: 60%;
}
.button{
  width: 10%;
}
